ul,
li {
  list-style: none;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  background-color: rgb(162, 220, 201);
  max-width: 320px;
  text-align: center;
  padding: 5px;
  border: solid rgb(12, 73, 39), 2px;
  border-radius: 24px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.6),
      rgba(46, 47, 66, 0.6)
    ),
    url(./img/0-02-05-b68692493ebb629b8a7e201c37a5fd1bb7b3288a5bac56febe5eb51c8893c4ee_1c6dc15e9fed6a.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.heading {
  font-size: 34px;
  color: rgb(22, 78, 47);
  margin-bottom: 20px;
}

.message {
  margin-top: 28px;
  color: rgb(15, 99, 53);
  font-weight: bold;
  font-size: 24px;
  text-shadow: 0 0 5px rgb(252, 240, 106);
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px rgb(236, 246, 91), 0 0 20px rgba(11, 59, 83, 0.6);
  }
  to {
    text-shadow: 0 0 20px rgb(35, 241, 104), 0 0 40px rgba(11, 59, 83, 0.8);
  }
}

.animated-heading {
  animation: fadeInZoom 3s ease-in-out;
}

@keyframes fadeInZoom {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.footer {
  background-color: rgb(12, 73, 39);
  color: rgb(99, 190, 140);
  font-weight: bold;
  font-size: 42px;
}

.list {
  padding: 0;
  margin: 0;
}

.list-item {
  font-size: 18px;
  font-weight: bold;
}

.list-item:nth-child(1) {
  color: rgb(99, 190, 140);
}

.list-item:nth-child(2) {
  color: rgb(80, 162, 117);
}

.list-item:nth-child(3) {
  color: rgb(55, 124, 86);
}

.list-item:nth-child(4) {
  color: rgb(49, 108, 76);
}

.list-item:nth-child(5) {
  color: rgb(37, 88, 60);
}

.list-item:nth-child(6) {
  color: rgb(18, 56, 36);
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    background-size: cover;
  }

  .list {
    padding: 0;
    margin: 0;
    font-size: 48px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    display: block;
    margin: 0 auto;
    min-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    background-size: auto;
  }

  .footer {
    margin-top: 90px;
    margin-bottom: 40px;
    background-color: rgb(12, 73, 39);
    color: rgb(99, 190, 140);
    font-weight: bold;
    font-size: 64px;
  }

  .message {
    margin-top: 68px;
    margin-bottom: 64px;
    color: rgb(15, 99, 53);
    font-weight: bold;
    font-size: 38px;
    text-shadow: 0 0 5px rgb(252, 240, 106);
    animation: glow 1.5s infinite alternate;
  }

  .heading {
    font-size: 86px;
    color: rgb(22, 78, 47);
    margin-bottom: 20px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: center;
    align-items: center;
    font-size: 48px;
  }

  .list-item {
    font-size: 32px;
    font-weight: bold;
  }
}
